Repository 2lambda123/microsoft-rushstack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iclanton, @nickpape-msft, @octogonz, @patmill, @aditima, @mpasarin, @lincoded, @halfnibble, @dzearing

.github/CODEOWNERS:

.github/CODEOWNERS @iclanton @nickpape-msft @octogonz @patmill @aditima
common/config/**/* @iclanton @nickpape-msft @octogonz @patmill @aditima

common/reviews/**/* @iclanton @nickpape-msft @octogonz @mpasarin @aditima

apps/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
build-tests/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
core-build/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
libraries/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
stack/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
webpack/**/* @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
rush.json @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
.gitattributes @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
.gitignore @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble
README.md @iclanton @nickpape-msft @octogonz @aditima @lincoded @halfnibble

libraries/load-themed-styles/**/* @iclanton @nickpape-msft @octogonz @dzearing @aditima

[rush] Split ProjectChangeAnalyzer, fix build cache hashes
  common/changes/@microsoft/rush/split-project-change-analyzer_2024-01-09-22-06.json
  common/changes/@microsoft/rush/split-project-change-analyzer_2024-01-09-22-11.json
  common/reviews/api/rush-lib.api.md
  libraries/rush-lib/src/cli/scriptActions/PhasedScriptAction.ts
  libraries/rush-lib/src/cli/test/RushCommandLineParser.test.ts
  libraries/rush-lib/src/index.ts
  libraries/rush-lib/src/logic/LookupByPath.ts
  libraries/rush-lib/src/logic/ProjectChangeAnalyzer.ts
  libraries/rush-lib/src/logic/ProjectWatcher.ts
  libraries/rush-lib/src/logic/buildCache/ProjectBuildCache.ts
  libraries/rush-lib/src/logic/buildCache/getHashesForGlobsAsync.ts
  libraries/rush-lib/src/logic/buildCache/test/ProjectBuildCache.test.ts
  libraries/rush-lib/src/logic/operations/CacheableOperationPlugin.ts
  libraries/rush-lib/src/logic/operations/LegacySkipPlugin.ts
  libraries/rush-lib/src/logic/operations/ShellOperationRunner.ts
  libraries/rush-lib/src/logic/operations/ShellOperationRunnerPlugin.ts
  libraries/rush-lib/src/logic/snapshots/InputSnapshot.ts
  libraries/rush-lib/src/logic/snapshots/test/InputSnapshot.test.ts
  libraries/rush-lib/src/logic/snapshots/test/__snapshots__/InputSnapshot.test.ts.snap
  libraries/rush-lib/src/logic/test/ProjectChangeAnalyzer.test.ts
  libraries/rush-lib/src/logic/test/__snapshots__/ProjectChangeAnalyzer.test.ts.snap
  libraries/rush-lib/src/pluginFramework/PhasedCommandHooks.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @mpasarin, @aditima, @lincoded, @halfnibble

Add comments
  libraries/rush-lib/src/logic/operations/CacheableOperationPlugin.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

Address PR feedback
  common/changes/@microsoft/rush/split-project-change-analyzer_2024-01-09-22-06.json
  common/changes/@microsoft/rush/split-project-change-analyzer_2024-01-09-22-11.json
  common/reviews/api/rush-lib.api.md
  libraries/rush-lib/src/cli/scriptActions/PhasedScriptAction.ts
  libraries/rush-lib/src/logic/ProjectChangeAnalyzer.ts
  libraries/rush-lib/src/logic/buildCache/ProjectBuildCache.ts
  libraries/rush-lib/src/logic/buildCache/test/ProjectBuildCache.test.ts
  libraries/rush-lib/src/logic/operations/CacheableOperationPlugin.ts
  libraries/rush-lib/src/logic/snapshots/InputSnapshot.ts
  libraries/rush-lib/src/logic/snapshots/test/InputSnapshot.test.ts
  libraries/rush-lib/src/logic/snapshots/test/__snapshots__/InputSnapshot.test.ts.snap
  libraries/rush-lib/src/logic/test/ProjectChangeAnalyzer.test.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @mpasarin, @aditima, @lincoded, @halfnibble

cleanup
  libraries/rush-lib/src/logic/operations/ConsoleTimelinePlugin.ts
  libraries/rush-lib/src/logic/operations/OperationExecutionManager.ts
  libraries/rush-lib/src/logic/operations/OperationExecutionRecord.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

fixing when cache is flushed to disk
  libraries/rush-lib/src/logic/operations/OperationExecutionManager.ts
  libraries/rush-lib/src/logic/operations/OperationExecutionRecord.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

stopwatch timing isn't correct
  libraries/rush-lib/src/logic/operations/ConsoleTimelinePlugin.ts
  libraries/rush-lib/src/logic/operations/OperationExecutionManager.ts
  libraries/rush-lib/src/logic/operations/OperationExecutionRecord.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

fix: show cobuild timings for all agents
  common/reviews/api/rush-lib.api.md
  libraries/rush-lib/src/cli/scriptActions/PhasedScriptAction.ts
  libraries/rush-lib/src/logic/operations/ConsoleTimelinePlugin.ts
  libraries/rush-lib/src/logic/operations/IOperationExecutionResult.ts
  libraries/rush-lib/src/logic/operations/OperationExecutionManager.ts
  libraries/rush-lib/src/logic/operations/OperationExecutionRecord.ts
  libraries/rush-lib/src/logic/operations/test/OperationExecutionManager.test.ts
  libraries/rush-lib/src/utilities/Stopwatch.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @mpasarin, @aditima, @lincoded, @halfnibble

add changeset
  common/changes/@microsoft/rush/sennyeya-operation-timings_2024-05-07-16-36.json
Owners: none

small adjustments to make the operations look better in timeline view
  libraries/rush-lib/src/logic/operations/OperationExecutionRecord.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

fix snapshot
  libraries/rush-lib/src/logic/operations/test/__snapshots__/OperationExecutionManager.test.ts.snap
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

fix lint error
  libraries/rush-lib/src/logic/operations/OperationExecutionManager.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

make operation tracking async
  libraries/rush-lib/src/logic/operations/OperationExecutionManager.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

fix linting
  libraries/rush-lib/src/logic/operations/OperationExecutionManager.ts
  libraries/rush-lib/src/logic/operations/OperationExecutionRecord.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

make it not async
  libraries/rush-lib/src/logic/operations/ConsoleTimelinePlugin.ts
  libraries/rush-lib/src/logic/operations/test/OperationExecutionManager.test.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

adjust comment
  libraries/rush-lib/src/logic/operations/IOperationExecutionResult.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

adjust the check to check for cobuild disabled
  libraries/rush-lib/src/logic/operations/OperationExecutionRecord.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

fix binding
  libraries/rush-lib/src/logic/operations/OperationExecutionManager.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

Apply suggestions from code review
  common/changes/@microsoft/rush/sennyeya-operation-timings_2024-05-07-16-36.json
  libraries/rush-lib/src/logic/operations/ConsoleTimelinePlugin.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

flip stopwatch usage
  libraries/rush-lib/src/logic/operations/OperationExecutionRecord.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

add a comment
  libraries/rush-lib/src/logic/operations/OperationExecutionRecord.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

Un-async _onOperationComplete.
  libraries/rush-lib/src/logic/operations/OperationExecutionManager.ts
  libraries/rush-lib/src/logic/operations/OperationExecutionRecord.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

feat(cobuilds): allow orchestration without using the build cache
  build-tests/rush-redis-cobuild-plugin-integration-test/README.md
  build-tests/rush-redis-cobuild-plugin-integration-test/sandbox/sharded-repo/projects/e/config/rush-project.json
  common/changes/@microsoft/rush/sennyeya-allow-cobuild-orchestration_2024-08-08-23-11.json
  common/reviews/api/rush-lib.api.md
  libraries/rush-lib/src/api/CobuildConfiguration.ts
  libraries/rush-lib/src/api/EnvironmentConfiguration.ts
  libraries/rush-lib/src/api/RushProjectConfiguration.ts
  libraries/rush-lib/src/logic/operations/CacheableOperationPlugin.ts
  libraries/rush-lib/src/schemas/rush-project.schema.json
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble, @mpasarin

update comment
  libraries/rush-lib/src/api/CobuildConfiguration.ts
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble

rename allowCobuildOrchestration to allowCobuildWithoutCache
  build-tests/rush-redis-cobuild-plugin-integration-test/sandbox/sharded-repo/projects/e/config/rush-project.json
  common/changes/@microsoft/rush/sennyeya-allow-cobuild-orchestration_2024-08-08-23-11.json
  common/reviews/api/rush-lib.api.md
  libraries/rush-lib/src/api/CobuildConfiguration.ts
  libraries/rush-lib/src/api/EnvironmentConfiguration.ts
  libraries/rush-lib/src/api/RushProjectConfiguration.ts
  libraries/rush-lib/src/logic/operations/CacheableOperationPlugin.ts
  libraries/rush-lib/src/schemas/rush-project.schema.json
Owners: @iclanton, @nickpape-msft, @octogonz, @aditima, @lincoded, @halfnibble, @mpasarin
